<!DOCTYPE html>

<html>

<head>
    <title>Grade Mangment</title>
    <style>
       .container {
            width: 50%;
            margin: auto;
            text-align: center;
         }
         .help-button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-bottom: 10px;
         }
         .help-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
         }
         .help-content p {
            margin: 10px 0;
         }
         .help-content ul {
            text-align: center;
            list-style: none;
            margin: 0;
            padding: 0;
         }
         .help-content li {
            margin-bottom: 10px;
         }
    </style>

<body>

    <div class="main-content">
        {{>main passThisToView=user}}

        <div class="container">
            <h2 style="font-family: Arial, sans-serif; color: #1f1f1f;">Welcome to Grade Management System</h2>
            <hr style="border: none; height: 2px; background-color: #a7a8a7; margin: 0 auto 20px;">
            <button class="help-button">Click Here for Help</button>
            <div class="help-content">

                <h3>Instructions</h3>
                <ul>
                    <li>First use the Login or Signup buttons to login or signup</li>
                    <li>After login head over to Course menu tab to upload your JSON file with courses</li>
                    <li>Optionally, edit each course with grade weights or add new or delete Course</li>
                    <li>Add new teachings to selected Course</li>
                    <li>Add or remove teacher to selected teaching and optionally select the duration of grade</li>
                    <li>Upload the Students excel file via the View button in teaching and then Add Students button</li>
                    <li>Edit the grade of each Student or delete them from the Teaching with the View button in each
                        Teaching</li>
                    <li>After all the Students of a Teaching are graded you can download the Analytical or the Typical
                        grade of the students in the course</li>
                    <li>After all the Students of a Teaching are graded and both analytical and typical files are
                        downloaded the Teaching is locked</li>
                    <li>You can see all the uploaded students of selected course in the View button and optionally
                        delete them or add them to another teaching</li>
                    <li>You can see the grade history of each student of course in the check button of each student in
                        course's view button</li>
                    <li>You can see all the students of all courses and teachings in students tab</li>
                </ul>
            </div>
        </div>
        <script>
            var helpButton = document.querySelector('.help-button');
            var helpContent = document.querySelector('.help-content');
            helpButton.addEventListener('click', function () {
                if (helpContent.style.maxHeight) {
                    helpContent.style.maxHeight = null;
                } else {
                    helpContent.style.maxHeight = helpContent.scrollHeight + "px";
                }
            });
        </script>




</body>

</head>

</html>