<!DOCTYPE html>

<html>

<head>
    <title>Grade Mangment</title>


<body>

    <div class="main-content">
        {{>main}}
       
        <div class="container">
            <p></p>
            <p></p>
            <h2>Welcome</h2>
            <p></p>
            <h3 class="main">Instructions </h3>
            <p class="second"> First use the Login or Signup buttons to login or signup </p>
            <p class="third"> After login head over to Course menu tab to upload your JSON file with courses</p>
            <p class="fourth"> Optionaly, edit each course with grade weights or add new or delete Course </p>
            <p class="fifth"> Upload the Students excel file via the Add Students button in each course </p>
            <p class="sixth"> You can see all the uploaded students of all courses in the Students tab and optionally delete them </p>
            <p class="seventh"> Edit the grade of each Student or delete them from the Course with the View button in each Course </p>
            <p class="eigth"> After all the Students of a Course is graded you can download the Analytical or the Typical grade of the students in the course </p>
            
        </div>

    </div>




</body>

</head>

</html>