<!DOCTYPE html>

<html>

<head>
    <title>Grade Mangment</title>


<body>

    <div class="main-content">
        {{>main passThisToView=user}}

        <div class="container">
            <p></p>
            <p></p>
            <h2>Welcome</h2>
            <p></p>
            <h3 class="main">Instructions </h3>
            <p class="second"> First use the Login or Signup buttons to login or signup </p>
            <p class="third"> After login head over to Course menu tab to upload your JSON file with courses</p>
            <p class="fourth"> Optionaly, edit each course with grade weights or add new or delete Course </p>
            <p class="fifth"> Add new teachings to selected Course </p>
            <p class="sixth"> Add or remove teacher to selected teaching and optionaly select the duration of grade </p>

            <p class="seventh"> Upload the Students excel file via the View button in teaching and then Add Students
                button </p>
            <p class="eigth"> Edit the grade of each Student or delete them from the Teaching with the View button in
                each Teaching </p>

            <p class="ninth"> After all the Students of a Teaching are graded you can download the Analytical or the
                Typical grade of the students in the course </p>
            <p class="tenth"> After all the Students of a Teaching are graded and both analytical and typical files are
                downloaded the Teaching is locked </p>
            <p class="eleventh"> You can see all the uploaded students of selected course in the View button and
                optionally
                delete them or add them to another teaching</p>
            <p class="twelveth"> You can see the grade history of each student of course in the check button of each
                student in course's view button </p>
            <p class="twelveth"> You can see all the students of all courses and teachings in students tab </p>

        </div>

    </div>




</body>

</head>

</html>